<!DOCTYPE html>
<html>
<head>
    <title>Add Expense</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

<nav class="navbar">
    <div class="logo">ExpenseTracker</div>

    <div class="nav-links">
        <a href="dashboard.html">Dashboard</a>
        <a href="reports.html">Reports</a>
        <a href="budget.html">Budget</a>
        <a href="add-expense.html">Add Expense</a>
    </div>
</nav>

<section class="page-header">
    <h1>Add New Expense</h1>
    <p>Track your spending in seconds.</p>
</section>

<div class="form-card">

    <form id="expenseForm">

        <label>Description</label>
        <input id="description" type="text" placeholder="Enter expense">

        <label>Amount</label>
        <input id="amount" type="number" placeholder="₹">

        <label>Category</label>
        <select id="category">
            <option>Food</option>
            <option>Travel</option>
            <option>Shopping</option>
            <option>Utilities</option>
        </select>

        <button type="submit">
            Save Expense
        </button>

    </form>

</div>

<script src="js/script.js"></script>

</body>
</html>
